html {
    font-size: calc(4.5vw + 2vh);
}

body, p, h1, h2, h3, h4, h5 {
    margin:0;
}

body {
    opacity: 0;
    /* transition:opacity 1s cubic-bezier(0, 0, 0.2, 1); */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.cover_img img:not(:first-child) {
    display:none;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

h1 {
    font-weight: 100;
    line-height: 14vh;
    font-size: 1.4rem;
}

.h2_box h2 {
    color: white;
    font-weight: 100;
    font-size: 1.38rem;
    transform: translateY(-1.7rem);
}

.h2_box {
    height: 0.6rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5vh;
    transform: translateY(-1.4rem);
    box-shadow: -2vh -2vh 2vh 1vh rgba(0,0,0,0.6);
}

header {
    position: fixed;
    width: 100%;
    height: 9vh;
    background: rgba(225, 21, 58, 0.8);
    text-align: center;
    color: white;
    z-index: 3;
    box-shadow: -2rem 0 2rem #F00;
}

.cover_img {
    width:100%;
    display: block;
    position: sticky;
    top: 0;
    z-index: -1;
}

.cover_img img {
    width:100%;
}

.products_list {
    list-style: none;
    padding: 1rem 0;
    background: white;
    margin: -1.4rem 0 0 0;
}

.products_list li {
    color: white;
    height: 1.4rem;
    line-height: 1.4rem;
    margin: 0 auto 0.3rem auto;
    padding: 0 0 0 2vh;
    box-sizing: border-box;
    width: 91%;
    font-size: 0.62rem;
    border-left: 0.15rem solid;
    background: #FAFAFA;
}

.salgadinhos li {
    /* background: linear-gradient(15deg, #6aa320, #4D8300);
    box-shadow: 0 1vh 0vh #BE6; */
    color:#6aa320;
}
.doces li {
    color:#e1153a;
}

.green_h2 {
    background:rgba(106, 163, 32, 0.8);
}

.sweet_h2 {
    background: rgba(225, 21, 58, 0.8);
}

.contact {
    width: 100%;
    background: linear-gradient(45deg, #D9DB3E, #6aa320);
    background-image: url('assets/bg1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 91vh;
    padding-top: 6vh;
    box-sizing: border-box;
}

.contact h3 {
    text-align: center;
    line-height: 1.4rem;
    font-size: 1.2rem;
    padding: 0 4vw;
    text-shadow: 0.6vh 0.6vh 1vh rgba(0,0,0,0.3);
    margin-bottom: 5vh;
}

.contact h4 {
    font-weight: 100;
    text-align: center;
    font-size: 0.7rem;
    padding: 0 2rem;
}

.contact a {
    width: 81%;
    max-width: 62vh;
    margin: 0 auto;
    background: white;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #8b3905;
    font-size: 0.7rem;
    padding: 0.3rem 0;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem rgba(255,255,255,0.6);
}

.media_span {
    max-width: 80vh;
    margin: 5vh auto;
    width: min-content;
    display: block;
}

.media_span span {
    width: 90%;
    display: block;
    margin: 0.5rem 0 0 auto;
    font-size: 0.62rem;
    position: relative;
    font-weight: 300;
}

.media_span span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 0.9rem;
    width: 0.7rem;
    transform: translateX(-162%) translateY(-50%);
    background-repeat: no-repeat;
}

#before_local::before {
    background-image: url('assets/local.svg');
} #before_tel::before {
    background-image: url('assets/tel.svg');
} #before_email::before {
    background-image: url('assets/email.svg');
} #before_insta::before {
    background-image: url('assets/insta.svg');
} 










































@media (min-width:130vh) {

    html {
        font-size: calc(2.5vh + 1vw);
    }

    body {
        display: flex;
    }

    p, h1, h2, h3, h4, h5, li {
        cursor: default;
    }

    h1 {
        line-height: 13vh;
        font-size: 7vh;
    }
    
    .cover_img img:not(:first-child) {
        display:initial;
    }

    .desktop_mid_container, header {
        width: calc(72.1% - 1.6vh);
    }

    .desktop_mid_container {
        z-index: 1;
    }

    .contact {
        width: 27.2%;
        position: fixed;
        right: 0;
        bottom: 0;
        height: 100vh;
        padding-top: 8vh;
        margin-right: 1.6vh;
    }

    .contact h3 {
        padding: 0 0.5rem;
        text-shadow: none;
    }

    .cover_img {
        height: 51.4vh;
        position: sticky;
        top: 0;
        z-index: -1;
        -webkit-mask-image: linear-gradient(black 90%, transparent);
        display: flex;
        flex-direction: row;
        background: #6aa320;
    }

    @keyframes slide_imgs {
        0% {
            transform:translateX(0%);
        } 20% {
            transform:translateX(-72.1vw);
        } 30% {
            transform:translateX(-72.1vw);
        } 45% {
            transform:translateX(-144.2vw);
        } 55% {
            transform:translateX(-144.2vw);
        } 70% {
            transform:translateX(-216.4vw);
        } 80% {
            transform:translateX(-216.4vw);
        } 95% {
            transform:translateX(-288.4vw);
        } 100% {
            transform:translateX(-288.4vw);
        }
    }

    .cover_img img {
        height: 51.4vh;
        width: 72.1vw;
        object-fit: cover;
        object-position: 0 38%;
        animation: slide_imgs 20s 1s ease-in-out infinite alternate;
    }

    .contact a {
        font-size: 0.6rem;
        padding: 0.25rem 0;
        transition:transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease, color 0.2s ease;
        transition-delay: 0.1s;
    }

    .contact a:hover {
        transform:translateY(0.2rem);
        box-shadow: 0 0 rgba(255,255,255,0.6);
        transition-delay: 0s;
        background:#25D366;
        color:white;
    }

    .contact h4 {
        padding: 0 1rem;
    }

    .products_list {
        background: rgba(255, 255, 255, 0.9);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr));
        padding: 1rem 2rem;
    }
    .products_list li {
        margin: 0 0 0.4rem 0;
        border-radius: 0.2rem;
        padding: 0 0 0 0.6rem;
    }

    ::-webkit-scrollbar {
        width: 1.6vh;
    }
    
    ::-webkit-scrollbar-track {
        background: #fff; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #e1153a; 
    }
    
}